@font-face {
  font-family: "Enso";
  src: url("../font/enso.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('../font/themify-icons/themify-icons.css');
.mask {
  height: 661px;
  width: 1920px;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
}

.tab-bar {
  height: 49.27px;
  width: 49.15%;
  ;
  border: 1.5px solid #F2F2F2;
  border-radius: 3px 3px 0 0;
  background-color: #FFFFFF;
  position: absolute;
  margin-top: 75px;
  margin-left: 11.95%;
}

.tab {
  height: 91.49px;
  width: 49.15%;
  border: 1.5px solid #F2F2F2;
  background-color: #FFFFFF;
  position: absolute;
  margin-top: 87.32px;
  margin-left: 11.95%;
}

.close {
  box-sizing: border-box;
  height: 11.25px;
  width: 11.24px;
  border: 1px solid #EA4240;
  border-radius: 50%;
  background-color: #FF5D5B;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.56);
  position: absolute;
  margin-top: 8.29px;
  margin-left: 22.19px;
}

.minimize {
  box-sizing: border-box;
  height: 11.25px;
  width: 11.24px;
  border: 1px solid #F7AE33;
  border-radius: 50%;
  background-color: #FFBC4C;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  position: absolute;
  margin-top: 8.29px;
  margin-left: 39.74px;
}

.extend {
  box-sizing: border-box;
  height: 11.25px;
  width: 11.24px;
  border: 1px solid #04AD4C;
  border-radius: 50%;
  background-color: #00CC57;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  position: absolute;
  margin-top: 8.29px;
  margin-left: 57.29px;
}

.favicon-tab-1 {
  height: 12.3px;
  width: 13.78px;
  border-radius: 2px;
  background-color: #8BC34A;
  position: absolute;
  margin-top: 11.59px;
  margin-left: 117.42px;
}

.title-tab-1 {
  height: 10px;
  width: 76.73px;
  color: #757575;
  font-family: Helvetica;
  font-size: 8px;
  font-weight: normal;
  line-height: 10px;
  position: absolute;
  margin-top: 12.95px;
  margin-left: 136.99px;
}

.close-shape {
  height: 8.21px;
  width: 8.2px;
  font-size: 11px;
  position: absolute;
  margin-top: 15.25px;
  margin-left: 30.1%;
}

.left-arrow-shape {
  height: 15.53px;
  width: 15.51px;
  color: #93A4AD;
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  margin-top: 52.99px;
  margin-left: 2.07%;
}

.right-arrow-shape {
  height: 15.53px;
  width: 15.51px;
  color: #93A4AD;
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  margin-top: 52.99px;
  margin-left: 6.37%;
}

.reload-shape {
  height: 15.53px;
  width: 15.51px;
  color: #93A4AD;
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  margin-top: 52.99px;
  margin-left: 11.02%;
}

.rectangle-3 {
  height: 661px;
  width: 700px;
  margin-left: 850px;
  position: absolute;
}

.today-i-learnt {
  height: 63px;
  width: 70.04%;
  color: #444444;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 63px;
  position: absolute;
  margin-top: 129px;
  margin-left: 16.65%;
}

.icon-25-themify {
  height: 36px;
  width: 36px;
  color: #444444;
  font-family: themify;
  font-size: 36px;
  line-height: 36px;
  position: absolute;
  margin-top: 144px;
  margin-left: 10%;
}

.lorem-ipsum-is-simpl-copy {
  height: 19px;
  width: 90.02%;
  color: #283238;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
  position: absolute;
  margin-top: 204px;
  margin-left: 10%;
}

.lorem-ipsum-is-simpl-2 {
  height: 168px;
  width: 545px;
  color: #283238;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: justify;

  position: absolute;
  margin-top: 265px;
  margin-left: 10%;
}

.rectangle-4 {
  height: 661px;
  width: 700px;
  margin-left: 300px;
  position: absolute;
}

.lorem-ipsum-3 {
  width: 457px;
}

.mask-2 {	
  height: 322px;	
  width: 100%;	
  background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
}

.mask-2-mini-rect {
  height: 322px;
  width : 68%;
  margin-left: auto;
  margin-right: auto;
}

.mask-2-mini-rect-junior {
  display: inline-flex;
  height: 322px;
  width: 19.7%;
}

.oval {	
  box-sizing: border-box;	
  height: 109.5px;	
  width: 109.5px;	
  border: 2.5px solid #FFFFFF;
  border-radius: 50%;

  position: absolute;
  margin-left: 4%;
  margin-top: 68.75px;
}

.oval-2 {	
  box-sizing: border-box;	
  height: 45.5px;	
  width: 45.5px;	
  border: 2.5px solid #FFFFFF;	
  border-radius: 50%;
  background-color: #7CB342;

  position: absolute;
  margin-left: 5.7%;
  margin-top: 153.75px;
}

.mini-icon-rectangle {
  width: 50%;
  height: 50%;
  margin-top: 28%;
  margin-left: 22%;
  text-align: center;
  font-size: 40px;
  color: #FFFFFF;
}

.mini-number-rectangle {
  width: 70%;
  height: 70%;
  margin-top : 17%;
  margin-left: 15%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #FFFFFF;
}

.task-list {	
  height: 24px;
  width: 230px;	
  color: #FFFFFF;	
  font-family: "Roboto", sans-serif;	
  font-size: 18px;	
  font-weight: 500;	
  letter-spacing: 1px;	
  line-height: 24px;
  text-align: center;

  position: absolute;
  margin-left : 1.5%;
  margin-top: 230px;
}

.today-i-learnt-image {
  width : 40%;
  height: 600px;
  position: absolute;
  margin-top: 50px;
  margin-left: 7%;
}


.daily-report-start-button {
  margin-top: 490px;
}