@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html {
  width: 1920px;
}

body {
  background-image: url("../images/background-picture.jpg");
  background-repeat: no-repeat;
}

.rectangle {
  height: 875px;
  width: 1920px;
}

.hapo-erp {
  height: 77px;
  width: 256px;
  color: #AED581;
  font-family: "Enso";
  font-size: 64px;
  line-height: 77px;
  position: absolute;
  margin-left: 44.53%;
  margin-top: 249px;
}

.about-us {
  height: 16px;
  width: 66px;
  color: #283238;
  font-family: 'Roboto', sans-serif;
  font-size: 11.5px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  position: absolute;
  margin-top: 53px;
  margin-left: 1344px;
}

.rectangle-2 {
  height: 36px;
  width: 82px;
  border: 2px solid #8BC34A;
  border-radius: 100px;
  position: absolute;
  top: 43px;
  margin-left: 1448px;
}

.sign-in {
  height: 16px;
  width: 55px;
  color: #8BC34A;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 16px;
  position: absolute;
  margin-top: 10px;
  margin-left: 15px;
}

.rectangle-2-copy {
  height: 60px;
  width: 225px;
  border-radius: 100px;
  background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-left: 45.11%;
  margin-top: 580px;
}

.start-now {
  height: 24px;
  width: 120px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 24px;
  position: absolute;
  margin-top: 18px;
  margin-left: 56px;
}

.icon-161-themify {
  color: #283238;
  font-size: 48px;
  letter-spacing: 4px;
  line-height: 48px;
  position: absolute;
  margin-top: 370px;
  margin-left: 32.61%;
}

.icon-199-themify {
  color: #283238;
  font-family: themify;
  font-size: 48px;
  letter-spacing: 4px;
  line-height: 48px;
  position: absolute;
  margin-top: 370px;
  margin-left: 49.9%;
}

.icon-113-themify {
  color: #283238;
  font-family: themify;
  font-size: 48px;
  letter-spacing: 4px;
  line-height: 48px;
  position: absolute;
  margin-top: 370px;
  margin-left: 66.3%;
}

.better {
  height: 0.94%;
  width: 5%;
  color: #283238;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  position: absolute;
  margin-top: 434px;
  margin-left: 31.47%;
}

.faster {
  height: 48px;
  width: 101px;
  color: #283238;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  position: absolute;
  margin-top: 434px;
  margin-left: 48.47%;
}

.together {
  height: 0.94%;
  width: 7.34%;
  color: #283238;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  position: absolute;
  margin-top: 434px;
  margin-left: 63.99%;
}

.lorem-ipsum-is-simpl {
  height: 24px;
  width: 32.64%;
  color: #283238;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  position: absolute;
  margin-top: 535px;
  margin-left: 37.35%;
}

.start-now-button-2 {
  margin-left: 10%;
  margin-top: 473px;
}

.mask {
  height: 661px;
  width: 1920px;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
}

.tab-bar {
  height: 49.27px;
  width: 49.15%;
  ;
  border: 1.5px solid #F2F2F2;
  border-radius: 3px 3px 0 0;
  background-color: #FFFFFF;
  position: absolute;
  margin-top: 75px;
  margin-left: 11.95%;
}

.tab {
  height: 91.49px;
  width: 49.15%;
  border: 1.5px solid #F2F2F2;
  background-color: #FFFFFF;
  position: absolute;
  margin-top: 87.32px;
  margin-left: 11.95%;
}

.close {
  box-sizing: border-box;
  height: 11.25px;
  width: 11.24px;
  border: 1px solid #EA4240;
  border-radius: 50%;
  background-color: #FF5D5B;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.56);
  position: absolute;
  margin-top: 8.29px;
  margin-left: 22.19px;
}

.minimize {
  box-sizing: border-box;
  height: 11.25px;
  width: 11.24px;
  border: 1px solid #F7AE33;
  border-radius: 50%;
  background-color: #FFBC4C;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  position: absolute;
  margin-top: 8.29px;
  margin-left: 39.74px;
}

.extend {
  box-sizing: border-box;
  height: 11.25px;
  width: 11.24px;
  border: 1px solid #04AD4C;
  border-radius: 50%;
  background-color: #00CC57;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  position: absolute;
  margin-top: 8.29px;
  margin-left: 57.29px;
}

.favicon-tab-1 {
  height: 12.3px;
  width: 13.78px;
  border-radius: 2px;
  background-color: #8BC34A;
  position: absolute;
  margin-top: 11.59px;
  margin-left: 117.42px;
}

.title-tab-1 {
  height: 10px;
  width: 76.73px;
  color: #757575;
  font-family: Helvetica;
  font-size: 8px;
  font-weight: normal;
  line-height: 10px;
  position: absolute;
  margin-top: 12.95px;
  margin-left: 136.99px;
}

.close-shape {
  height: 8.21px;
  width: 8.2px;
  font-size: 11px;
  position: absolute;
  margin-top: 15.25px;
  margin-left: 30.1%;
}

.left-arrow-shape {
  height: 15.53px;
  width: 15.51px;
  color: #93A4AD;
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  margin-top: 52.99px;
  margin-left: 2.07%;
}

.right-arrow-shape {
  height: 15.53px;
  width: 15.51px;
  color: #93A4AD;
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  margin-top: 52.99px;
  margin-left: 6.37%;
}

.reload-shape {
  height: 15.53px;
  width: 15.51px;
  color: #93A4AD;
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  margin-top: 52.99px;
  margin-left: 11.02%;
}

.rectangle-3 {
  height: 661px;
  width: 700px;
  margin-left: 900px;
  position: absolute;
}

.today-i-learnt {
  height: 63px;
  width: 70.04%;
  color: #444444;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 63px;
  position: absolute;
  margin-top: 129px;
  margin-left: 17.65%;
}

.icon-25-themify {
  color: #444444;
  font-family: themify;
  font-size: 36px;
  line-height: 36px;
  position: absolute;
  margin-top: 144px;
  margin-left: 10%;
}

.lorem-ipsum-is-simpl-copy {
  height: 19px;
  width: 90.02%;
  color: #283238;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
  position: absolute;
  margin-top: 204px;
  margin-left: 10%;
}

.lorem-ipsum-is-simpl-2 {
  height: 168px;
  width: 545px;
  color: #283238;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: justify;

  position: absolute;
  margin-top: 265px;
  margin-left: 10%;
}

.rectangle-4 {
  height: 661px;
  width: 700px;
  margin-left: 315px;
  position: absolute;
}

.lorem-ipsum-3 {
  width: 457px;
}

.mask-2 {	
  height: 322px;	
  width: 100%;	
  background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
}

.mask-2-mini-rect {
  height: 322px;
  width : 68%;
  margin-left: auto;
  margin-right: auto;
}

.mask-2-mini-rect-junior {
  display: inline-flex;
  height: 322px;
  width: 19.7%;
}

.oval {	
  box-sizing: border-box;	
  height: 109.5px;	
  width: 109.5px;	
  border: 2.5px solid #FFFFFF;
  border-radius: 50%;

  position: absolute;
  margin-left: 4%;
  margin-top: 68.75px;
}

.oval-2 {	
  box-sizing: border-box;	
  height: 45.5px;	
  width: 45.5px;	
  border: 2.5px solid #FFFFFF;	
  border-radius: 50%;
  background-color: #7CB342;

  position: absolute;
  margin-left: 5.7%;
  margin-top: 153.75px;
}

.mini-icon-rectangle {
  width: 50%;
  height: 50%;
  margin-top: 28%;
  margin-left: 22%;
  text-align: center;
  font-size: 40px;
  color: #FFFFFF;
}

.mini-number-rectangle {
  width: 70%;
  height: 70%;
  margin-top : 17%;
  margin-left: 15%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #FFFFFF;
}

.task-list {	
  height: 24px;
  width: 230px;	
  color: #FFFFFF;	
  font-family: "Roboto", sans-serif;	
  font-size: 18px;	
  font-weight: 500;	
  letter-spacing: 1px;	
  line-height: 24px;
  text-align: center;

  position: absolute;
  margin-left : 1.5%;
  margin-top: 230px;
}

.today-i-learnt-image {
  width : 40%;
  height: 600px;
  position: absolute;
  margin-top: 50px;
  margin-left: 170.37px;
}


.daily-report-start-button {
  margin-top: 490px;
}

.lorem-ipsum-4 {
  width: 570px;
  height: 200px;
}

.small-para-block {
  width: 100%;
  height: 30%;
}

.icon-78-themify {
  color: #8BC34A;
  font-family: themify;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  position: absolute;
}

.lorem-ipsum-is-simpl-para {	
  height: 50px;	
  width: 519px;	
  color: #283238;	
  font-family: "Roboto", sans-serif;	
  font-size: 13px;	
  line-height: 24px;	
  text-align: justify;
  position: absolute;
  margin-left: 40px;
}

.member-img {
  width: 50%;
  height: 80%;
  position: absolute;
  margin-left: 53%;
  margin-top: 120px;
}

.daily-report-img {
  width: 50%;
  height: 630px;
  position: absolute;
  margin-left: 54.5%;
  margin-top: 20px;
  overflow: hidden;
}

.daily-report-img-sizing {
  width: 910px;
}

.rectangle-5 {	
  height: 544px;	
  width: 1920px;	
  background-image: url("../images/background-picture-2.jpg");
}

.icon-128-themify {	
  opacity: 0.4;	
  color: #FFFFFF;	
  font-family: themify;	
  font-size: 72px;	
  line-height: 73px;	
  text-align: justify;
  position: absolute;
  margin-top: 327px;
  margin-left: 487px;
}

.lorem-ipsum-is-simpl-members {	
  height: 90px;	
  width: 750px;	
  color: #FFFFFF;	
  font-family: "Roboto", sans-serif;	
  font-size: 18px;	
  font-weight: 300;	
  line-height: 30px;	
  text-align: justify;
  position: absolute;
  margin-top: 380px;
  margin-left: 586px; 
}

.icon-127-themify {	
  opacity: 0.4;	
  color: #FFFFFF;	
  font-family: themify;	
  font-size: 72px;	
  line-height: 73px;	
  text-align: justify;
  position: absolute;
  margin-top: 442px;
  margin-left: 1362px; 
}

.our-customer {	
  height: 63px;	
  width: 300px;	
  color: #FFFFFF;	
  font-family: "Roboto", sans-serif;	
  font-size: 48px;	
  font-weight: 300;	
  line-height: 63px;
  position: absolute;
  margin-top: 50px;
  margin-left: 816px;
}

.small-rectangle-5 {
  height: 80px;
  width: 1300px;
  margin-top: 161px;
  margin-left: 320px;
  position: absolute;
}

.mini-rectangle-5 {
  display: inline-block;
  height: 80px;
  width: 150px;
}

.human-face-img {
  position: absolute;
  margin-left: 78px;
}

.special-human-face {
  width: 100px;
  margin-top: -10px;
  margin-left: 68px;
}

.duong-nt-designer-1 {
	height: 31px;
	width: 70px;
	color: #FFFFFF;
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 13px;
  text-align: center;
  position: absolute;
  margin-left: 81px;
  margin-top: 96px;
}

.duong-nt-designer-2 {
	height: 31px;
	width: 58px;
	color: #FFFFFF;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	font-weight: 300;
	line-height: 13px;
  text-align: center;
  position: absolute;
  margin-left: 85px;
  margin-top: 112px;
}

.duong-nt-special-1 {
  margin-top: 106px;
}

.duong-nt-special-2 {
  margin-top: 122px;
}

.mask-3 {
	height: 180px;
	width: 1920px;
	border: 1px solid #ECEFF1;
	background-color: #39474E;
	box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
}

.mask-3-small-rectangle {
  width: 1000px;
  height: 180px;
  position: absolute;
  margin-left: 389px;
}

.mask-3-tiny-rectangle {
  display: inline-block;
  width: 196px;
  height: 100%;
}

.small-footer-title {
	height: 18px;
	width: 100px;
	color: #8BC34A;
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	font-weight: 500;
  line-height: 18px;
  position: absolute;
  margin-top: 54px;
}

.small-footer-text {
	height: 40px;
	width: 80px;
	color: #D0D8DC;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	font-weight: 500;
  line-height: 20px;
  position: absolute;
  margin-top: 86px;
}

.big-footer-text {
	height: 29px;
	width: 96px;
	font-size: 24px;
  line-height: 29px;
  position: absolute;
  margin-top: 45px;
}

.hapo-erp-footer-img {
  margin-top: 4px;
  width: 96px;
}

.footer-icon-rectangle {
  height: 15px;
  width: 220px;
  margin-top: 108px;
  margin-left: 1365px;
  position: absolute;
}

.footer-icon-box {
  display: inline-block;
  height: 15px;
  width: 51px;
  color: #8BC34A;	
  font-family: themify;	
  font-size: 13px;	
  line-height: 13px;
}


.project-img {
  width: 50%;
  height: 630px;
  position: absolute;
  margin-left: 52%;
  margin-top: 20px;
  overflow: hidden;
}

.project-img-sizing {
  width: 960px;
}

.dot-main-rectangle {
  height: 11px;
  width: 110px;
  position: absolute;
  margin-top: 318px;
  margin-left: 923px;
}

.dot-small-rectangle {
  display: inline-block;
  height: 11px;
  width: 32.5px;
}

.oval-dot-special {
	height: 10px;
	width: 9.71px;
  background-color: #D8D8D8;
  border-radius: 50%;
}

.oval-dot {
	box-sizing: border-box;
	height: 11px;
	width: 10.71px;
  border: 1px solid #979797;
  border-radius: 50%;
}